
.icon-home:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
